@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --color-primary: #6D1528;
}
.ocultar-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE y Edge */
  }
  
.ocultar-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}